$backgroundColor: yellow;
$background: lightgrey;
$footandhead: lightskyblue;
html {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  min-height: 100vh;
}
.App {
  font-family: sans-serif;
  text-align: center;
  flex: 1;
  background: $background;
}

.button {
  width: 200px;
  border: 1px solid;
  padding: 5px;
  user-select: none;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
}
// .count {
//   display: block;
// }

#number {
  display: block;
}

#fizz {
  display: block;
}

header {
  font-family: sans-serif;
  text-align: center;
  background: $footandhead;
  padding: 20px;
}

footer {
  font-family: sans-serif;
  text-align: center;
  background: $footandhead;
  margin-top: auto;
}